.Sidebar {
  z-index: 1;
  background-color: #171d25;
  position: relative;
  color: #fff;
  white-space: nowrap;

  /* slide animation */
  transition: 0.5s ease;
  overflow-x: hidden;

  /* to hide change this settings */
  width: 0;
  padding: 12px 0;
  height: 100%;
}

.open {
  width: 34%;
  padding: 12px;
}

li > ul {
  padding: 0 8px;
}

.Entry a {
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 0.075em;
  text-transform: uppercase;

  -webkit-user-select: none;
  user-select: none;
}

a.active {
  color: #1999ff;
  transition: 0.5s;
  font-weight: 600;
}
