.BtnSidebarToggle {
  display: flex;
  z-index: 11;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 2px;
  top: 40%;
  border-radius: 0% 30% 30% 0%;
  transition: background-color 0.1s ease-in-out;
  transition: transform 0.5s ease;
}

.BtnSidebarToggle:hover {
  background-color: #66c0f4;
}

.BtnSidebarToggle svg {
  padding: 0;
  margin: 0;
}

.active {
  transform: translateX(1031%);
  -webkit-transform: translateX(1031%);
}
